@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --ava-blue: #5ec8e8;
  --ava-purple: rgb(92, 77, 125);
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
  margin: 0;
}

.slide-in-div {
  -webkit-animation-name: slidein;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: slidein;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: 1;
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: 1;
  
}

h1.greeting {
  -webkit-animation-name: effect;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: effect;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  animation-name: effect;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 1%;
    width: 100%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 1%;
    width: 100%;
  }
}

@keyframes effect {
  from {
    background: -moz-linear-gradient(to right, var(--ava-purple), #af6dc0);
    background: linear-gradient(to right, var(--ava-purple), #af6dc0);
    -webkit-background-clip: text;
    background-clip: text;
  }

  to {
    background: -moz-linear-gradient(to right, var(--ava-blue), #000FFF);
    background: linear-gradient(to right, var(--ava-blue), #000FFF);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

@-webkit-keyframes effect {
from {
    background: -webkit-linear-gradient(to right, var(--ava-purple), #af6dc0);
    -webkit-background-clip: text;
  }

  to {
    background: -webkit-linear-gradient(to right, var(--ava-blue), #000FFF);
    -webkit-background-clip: text;
  }
}

.caption {
  position: absolute;
  bottom: 2%;
  left: 45%;
}

@media (max-width: 600px) {
  .caption {
    display: none;
  }
}


.fade-in {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(193, 202, 241);
}

figcaption {
  font-weight: 500;
  color: rgb(221, 238, 238);
}

input[type=text],[type=email], textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #5ec8e8;
  border-radius: 4px;
  background: #f8f8f8;
  }


input:focus, textarea:focus {outline: none;}
